.ProjectsDiv{
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.ProjectsDivText{
    display: flex;
    flex-direction: column;
    width: 90%;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.Project{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-left: 2px solid rgb(205, 214, 244);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    h2{
        font-size: 25px;
    }
    .project_numbering {
        font-family: 'DotGothic16';
        color: rgb(215, 174, 204);
    }
    img{
        height: 300px;
    }
    margin-bottom: 50px;
    margin-top: 20px;
    transition: 300ms ease-in-out;
}

.Project:hover{
    transition: 300ms ease-in-out;
    border-left-width: 10px;
    border-left-color: rgb(215, 174, 204);;
}

@media (min-width: 992px) {
    .ProjectsDiv {
        font-size: 17px;
    }
}

@media (max-width: 780px) {
    .ProjectsDiv {
        font-size: 16px;
    }
   }

@media (max-width: 450px) {
    .aboutMePicture img{
        height: 200px;
    }
}




