*{
    text-decoration: none;
    color: rgb(205, 214, 244);
}

body {
    padding: 0;
    margin: 0;
    color: rgb(205, 214, 244);
    background-color: #1e1e28;

}


.App_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
    min-width: 500px;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    background: rgba(30, 30, 46, 0.9);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.link_button{
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 45px;
    color: rgb(215, 174, 204);
}

.link_button:hover{
    font-size: 45px;
}



@media (max-width: 700px) {
    .blog_button {
        font-size: 30px;
    }
}

.insideLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link_button {
    text-decoration: none;
    font-size: 40px;
    margin-top: 10px;
    background-image: linear-gradient(rgb(205,214,244), rgb(205,214,244));
    background-size: 0% 0.09rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
    transition: 400ms;
}
.link_button:hover,
.link_button:focus,
.link_button:active {
    background-size: 100% 0.09em;
    cursor: pointer;
    background-position-x: 0%;
    color: rgb(215, 174, 204);
}

.insideLinks h1{
    font-size: 40px;
}
